/* Grid dos produtos */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 40px;
    width: 100%;
    /* max-width: 1200px; */
  }

  /* Responsividade */
@media (min-width: 1024px) {
    .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}